@mixin flex-box(
  $direction: null,
  $align: null,
  $justify: null,
  $wrap: null,
  $gap: null
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}
