$color-1: #b1cee3;
$color-2: #e2f3f6;
$color-3: #232323;
$color-4: #577cff;
$color-5: #ffffff;
$color-6: #f1f1f1;
$color-7: #c1c1c1;
$color-8: #8daaff;
$color-9: #e6e6e6;
$color-10: #cccccc;
$color-11: #e6e6e6;
$color-12: #b1cee3;
