@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #b1cee3;

  .logo {
    width: 60px;
    animation: breathing 3s ease-out infinite normal;
  }

  .dropdown-container {
    width: 250px;
  }
}
