@import "src/app/styles/variables";

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes dropping {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: $color-1;

  .logo {
    width: 60px;
    animation: breathing 3s ease-out infinite normal;
  }

  .title-badge-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
  }

  ::ng-deep .title-badge {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
    padding: 10px 40px;
    animation: dropping 0.5s ease-in-out;
    background: linear-gradient(to bottom, $color-8, $color-4);

    span {
      font-size: 40px;
      color: $color-5;
    }
  }

  .dropdown-container {
    width: 250px;
  }
}
