.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #b1cee3;

  .logo {
    width: 60px;
  }

  .dropdown-container {
    width: 250px;
  }
}
