<div class="loading-card">
  <div class="loading-img animate"></div>
  <div class="wrapper">
    <div class="loading-wrapper">
      <div class="stroke-1 animate"></div>
      <div class="stroke-1 animate"></div>
      <div class="stroke-1 animate"></div>
    </div>
    <div class="loading-wrapper">
      <div class="stroke-2 animate"></div>
      <div class="stroke-2 animate"></div>
      <div class="stroke-2 animate"></div>
    </div>
    <div class="loading-btn animate"></div>
    <div class="loading-wrapper">
      <div class="loading-author stroke-2 animate"></div>
      <div class="loading-time stroke-2 animate"></div>
    </div>
  </div>
</div>
