@import "src/app/styles/base";
@import "src/app/styles/variables";

:host {
  width: calc((100% - 50px) / 3);

  @media (max-width: 1200px) {
    width: calc((100% - 25px) / 2);
  }

  @media (max-width: 769px) {
    width: 100%;
  }
}

@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to right,
    $color-9 5%,
    $color-10 25%,
    $color-11 35%
  );
  background-size: 1000px 100%;
}

.loading-card {
  border: 1px solid $color-12;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  @include flex-box($direction: column);
  .loading-img {
    height: 280px;
    min-height: 280px;
  }

  .wrapper {
    padding: 20px;
    height: 100%;
    @include flex-box($direction: column, $gap: 20px);

    .loading-wrapper {
      @include flex-box($direction: column, $gap: 5px);
    }

    .stroke-1 {
      height: 20px;
    }

    .stroke-2 {
      height: 15px;
    }

    .loading-btn {
      height: 40px;
      border-radius: 5px;
      width: 115px;
      margin: 0 0 10px;
    }

    .loading-author {
      width: 45%;
    }

    .loading-time {
      width: 60%;
    }
  }
}
