.left-section-head {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
  }
  
  .bg-font-color {
    color: #ffffff !important;
    background-color: #80ffff !important;
  }
  
  .nav-link {
    color: #000099;
    font-weight: bold;
    cursor: pointer;
  }
  
  .active {
    color: #0066cc;
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 25%;
  }
  
  .left-section-body {
    width: 100%;
  }
  
  .humberger-btn {
    color: black;
    border: 2px solid black;
    padding: 4px 8px;
  }
  
  .side-list {
    width: 300px;
    color: black;
    background-color: #80ffff;
  }
  
  .left-section-head img {
    width: 50px;
  }
  
  @media only screen and (max-width:576px) {
    .left-section-head {
      font-size: 20px !important;
    }
  
    .humberger-btn {
      padding: 2px 4px;
    }
  
    .navbar-toggler-icon {
      width: 20px;
      height: 20px;
    }
  
    .offcanvas-header {
      padding: 10px;
    }
  
    .offcanvas-body {
      padding: 10px;
    }
  
    .side-list {
      width: 200px;
    }
  
    .offcanvas-title {
      font-size: 16px;
    }
  
    .nav-link {
      font-size: 14px;
    }
  }
  