<div class="cards-container">
  <div class="card" *ngFor="let newsArticle of newsArticles">
    <div class="img-container">
      <img
        class="response-img"
        [src]="newsArticle.urlToImage"
        (error)="imageErrorHandling($event)"
      />
    </div>

    <div class="content-container">
      <div class="top-section">
        <h4 class="title" *ngIf="newsArticle.title">{{ newsArticle.title }}</h4>

        <div
          class="description"
          *ngIf="newsArticle.description"
          [innerHTML]="newsArticle.description"
        ></div>

        <a class="action-btn" [href]="newsArticle.url" target="_blank">
          View More</a
        >
      </div>

      <div class="bottom-section">
        <p class="author" *ngIf="newsArticle.author">
          <span> Author: </span>
          <span [innerHTML]="newsArticle.author"></span>
        </p>

        <div class="published-time">
          <span> Published At: </span>

          <p [innerHTML]="newsArticle.publishedAt"></p>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isError">
    <img class="empty-state" src="assets/images/response-error.jpg" />
  </ng-container>

  <ng-container *ngIf="isLoading">
    <h1>Loading</h1>
  </ng-container>
</div>
